body {
    font-family: sans-serif;
    background-color: #232323;
    color: #fff;
}

.header {
    background-color: #232323;
    padding: 10px 0;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.header__logo img{
    margin-right: 20px;
}
.header__logo a{
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
}
.navigation-links a {
    color: #fff;
    font-size: 22px;
    margin-left: 50px;
}
main{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 24px;
}
.hero {
    background-color: #141414;
    background: url(../image/9901861_4265651\ 1.svg) no-repeat;
    background-size:cover;
    border-radius: 20px;
    padding-top: 100px;
    padding-left: 85px;
    margin: 0 20px;
    height: 100vh;
    display: flex;
    column-gap: 70px;
}
.hero__body{
    padding-top: 160px;
    width: 45%;
    display: block;
}
.hero__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
}
.hero__description {
    margin-bottom: 25px;
}
.hero__buttons {
    display: flex;
    column-gap: 30px;
    color: #000;
    padding: 20px 0;
}
.btn__passive {
    display: block;
    border-radius: 20px;
    border: 3px solid #FFD11A;
    background-color: #141414;
    padding: 16px 34px;
    color: #fff;
}
.btn__active{
    display: block;
    background-color: #FFD11A;
    border-radius: 20px;
    padding: 16px 34px;
    color: #141414;    
}
.form-sign{
    display: block;
    background-color: #fff;
    border-radius: 20px;
    color: #141414;
    padding: 35px 50px;
    height: 350px;
    margin-top: 100px;
}
.form-login{
    display: block;
    background-color: #fff;
    border-radius: 20px;
    color: #141414;
    padding: 35px 50px;
    height: 660px;
}
.form-btn{
    display: block;
    background-color: #FFD11A;
    border-radius: 20px;
    padding: 16px 0;
    width: 270px;
    color: #141414;
    font-size: 24px; 
    margin-top: 35px;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.input-box input{
    border: 3px solid #141414;
    border-radius: 15px;
    height: 40px;
    width: 270px;
    margin-top: 15px;
    font-size: 24px; 
    padding: 0 10px;
}
.navigation-links a:hover{
    text-decoration: underline;
}