@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../../fonts/KumbhSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../../fonts/KumbhSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;
}
.full-vw-line::before, .full-vw-line::after {
  position: absolute;
  width: calc((100vw - var(--container-width)) / 2);
  height: 0.0625rem;
  background-color: var(--color-dark-15);
}
.full-vw-line--top::before {
  content: "";
  bottom: 100%;
}
.full-vw-line--bottom::after {
  content: "";
  bottom: 0;
}
.full-vw-line-left::before, .full-vw-line-left::after {
  right: 100%;
}
.full-vw-line-right::before, .full-vw-line-right::after {
  left: 100%;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(1rem, 0.9597107438rem + 0.1652892562vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
  font-weight: 700;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(1.75rem, 1.145661157rem + 2.479338843vw, 3.625rem);
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.1776859504rem + 1.3223140496vw, 2.5rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9638429752rem + 0.6611570248vw, 1.625rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0041322314rem + 0.4958677686vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
}

p {
  --paragraphMarginBottom: 1.5rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.window-platform {
  display: flex;
  flex-direction: row;
}

main {
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --header-height: 6.25rem;
  --sidebar-width: 18.75rem;
  --color-light: #fff;
  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-gray-50: #7E7E7E;
  --color-gray-60: #c57c7c;
  --color-gray-10: #e7e7e7;
  --color-accent: #FFD11A;
  --color-red: #FF5500;
  --border: 0.0625rem solid var(--color-dark-15);
  --gradient: 45deg, var(--color-dark-15) 64%, var(--color-accent) 136%;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Kumbh Sans", sans-serif;
  --container-width: 112.5rem;
  --container-padding-x: 1.25rem;
  --transition-duration: 0.2s;
}

.logo {
  font-size: clamp(0.625rem, -0.180785124rem + 3.305785124vw, 3.125rem);
}
.logo:hover {
  color: inherit;
}

.window-platform {
  display: flex;
  flex-direction: row;
}

.side-menu {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 18.75rem;
  width: var(--sidebar-width);
  border-right: var(--border);
  border-right-width: 0.3125rem;
  background-color: var(--color-dark);
}
.side-menu__logo {
  border-bottom: var(--border);
  padding: 1.25rem 1.25rem 0.3125rem;
}
.side-menu__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 1.25rem;
  flex-grow: 1;
}
.side-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
.tg-bot {
  display: flex;
  justify-content: center;
  background-color: var(--color-accent);
  color: var(--color-dark);
  font-weight: 700;
  padding: 0.625rem 1.25rem;
  width: 100%;
  border-radius: 0.625rem;
}
.tg-bot:hover {
  background-color: var(--color-gray-60);
  color: var(--color-light);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - var(--sidebar-width));
  background-color: var(--color-gray-10);
  padding: 0.625rem 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__active {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}

.account {
  position: relative;
}
.account__avatar {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  background-color: var(--color-gray-60);
  border-radius: 50%;
}
.account__menu {
  position: absolute;
}
.account__menu:has(.is-active) {
  display: none;
}

.active-user {
  display: flex;
  column-gap: 1.25rem;
}
.active-user:last-child {
  padding-left: 2.5rem;
}
.active-user svg:hover {
  opacity: 0.5;
}

.filters-ads {
  margin-top: 1.875rem;
}
.filters-ads__filters-block {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  order: 2;
  min-width: 21.875rem;
  padding-left: 1.875rem;
}
.filters-ads__filters-block input[type=text],
.filters-ads__filters-block input[type=number],
.filters-ads__filters-block input[type=range],
.filters-ads__filters-block select {
  border: 0;
  width: 100%;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--color-gray-10);
}
.filters-ads__filters-block input[type=range] {
  padding: 0;
}
.filters-ads__search-bar {
  background-color: var(--color-gray-60);
  padding: 0.125rem;
  border-radius: 50vw;
  display: flex;
}
.filters-ads__search-bar input {
  width: 100%;
  border: none;
  border-radius: 50vw 0 0 50vw;
  padding: 0.625rem 1.25rem;
}
.filters-ads__search-bar button {
  width: 150px;
  height: 47px;
  border-radius: 0 50vw 50vw 0;
  background-color: var(--color-accent);
  color: var(--color-dark);
}
.filters-ads__search-bar button:hover {
  opacity: 0.7;
}
.filters-ads__wrapper {
  padding-inline: 1.25rem;
  margin-top: 1.875rem;
  display: flex;
  justify-content: space-between;
}
.filters-ads h5 {
  margin: 0;
}

.tech__checkbox {
  display: flex;
  flex-direction: column;
}

.results {
  display: flex;
  flex-direction: column;
}

.property {
  display: flex;
  padding: 1.25rem 1.25rem;
  border-radius: 1.25rem;
  column-gap: 1.25rem;
}
.property:hover {
  background-color: var(--color-gray-10);
}
.property img {
  width: 15.625rem;
  height: auto;
  border-radius: 0.625rem;
}

/*# sourceMappingURL=main.css.map */
