<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Future Tech</title>
  <link rel="stylesheet" href="./../style/main.css">
  <link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
  <script src="../auth-example/script/main.js" type="module" defer></script>
</head>
<body>
<div class="window-platform">
  <aside class="side-menu">
    <!--  <img src="" alt="" class="side-menu__logo logo"/>-->
    <a href="#" class="side-menu__logo logo">Квадрат</a>
    <div class="side-menu__body">
      <nav class="side-menu__nawbar">
        <ul class="side-menu__list">
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">Поиск недвижимости</a>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">Избранное</a>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">Недавно просмотренное</a>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">Сравнить</a>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">Проверить обект</a>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">AI-фильтр</a>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">Консультация специалиста</a>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link tg-bot">Telegram-bot</a>
          </li>
        </ul>
      </nav>
      <footer class="side-menu__footer">
        <p class="side-menu__footer-configuration">
          @anyway 2025
        </p>
      </footer>
    </div>
  </aside>
  <header class="header">
    <div class="header__container container">
      <div class="header__wrapper">
        <a href="#" class="header__swiper">Свайпер</a>
        <div class="header__active">
          <div class="header__active-user active-user">
            <button class="active-user__button">
              <svg width="30" height="30" viewBox="0 0 74 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M62.7549 31.2964V28.6189C62.7549 13.9177 51.2724 2 37.1083 2C22.944 2 11.4615 13.9177 11.4615 28.6189V31.2964C11.4615 34.5098 10.5452 37.6508 8.82786 40.3245L4.61958 46.8761C0.775717 52.8603 3.7102 60.9946 10.3956 62.887C27.8847 67.8377 46.332 67.8377 63.8208 62.887C70.5066 60.9946 73.4409 52.8603 69.5968 46.8761L65.3887 40.3245C63.6715 37.6508 62.7549 34.5098 62.7549 31.2964Z" stroke="black" stroke-width="4"/>
                <path d="M19.8359 66.5996C22.3251 73.2412 29.0413 77.9996 36.936 77.9996C44.8305 77.9996 51.547 73.2412 54.036 66.5996" stroke="black" stroke-width="4" stroke-linecap="round"/>
              </svg>
            </button>
            <button class="active-user">
              <svg width="30" height="30" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.8741 30.3333H51.0964M20.8741 45.4444H32.2075M70 36C70 54.7778 54.7778 70 36 70C28.3069 70 2.00272 70 2.00272 70C2.00272 70 7.893 55.8564 5.53566 51.1141C3.27255 46.5612 2 41.4294 2 36C2 17.2223 17.2223 2 36 2C54.7778 2 70 17.2223 70 36Z" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="active-user">
              <svg width="30" height="30" viewBox="0 0 73 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M36.5 9.39716C29.6023 1.51784 18.0761 -0.917215 9.43372 6.29788C0.79127 13.513 -0.425468 25.5761 6.36149 34.1095C12.0044 41.2043 29.0818 56.1681 34.6788 61.0113C35.3048 61.5532 35.618 61.8241 35.9833 61.9304C36.3018 62.0232 36.6507 62.0232 36.9696 61.9304C37.3349 61.8241 37.6477 61.5532 38.2741 61.0113C43.8712 56.1681 60.9483 41.2043 66.5913 34.1095C73.3783 25.5761 72.3099 13.4371 63.5189 6.29788C54.7279 -0.841316 43.3977 1.51784 36.5 9.39716Z" stroke="#C14C4C" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
          <div class="header__account account">
            <button id="account__avatar" class="account__avatar">
              <img src="" alt="">
            </button>
            <nav class="account__menu">
              <ul class="account__list">
                <li class="account__item">
                  <a href="#" class="account__link">Профиль</a>
                </li>
                <li class="account__item">
                  <a href="#" class="account__link">Еще пункт</a>
                </li>
                <li class="account__item">
                  <a href="#" class="account__link">Настройки</a>
                </li>
                <li class="account__item">
                  <a href="#" class="account__link exit">Выйти</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>

    <section class="filters-ads" aria-labelledby="filters-ads">
      <div class="filters-ads__inner container">


        <div class="filters-ads__search-bar">
          <input type="text" id="search" placeholder="Поиск по объявлениям" oninput="filterProperties()">
          <button class="filters-ads__search-button" type="button">
            Искать
          </button>
        </div>

       <div class="filters-ads__wrapper">
         <div class="filters-ads__filters-block filters-block">
           <label>
             <h5>Тип квартиры:</h5>
             <select id="type" onchange="filterProperties()">
               <option value="">Любой</option>
               <option value="длительно">Сдача длительно</option>
               <option value="посуточно">Сдача посуточно</option>
               <option value="купить">Купить</option>
             </select>
           </label>

           <label>
             <h5>Цена (₽): </h5>
             <span id="price-value"></span>
             <input type="range" id="price" min="1000" max="10000000" step="0" value="10000000" oninput="document.getElementById('price-value').textContent = this.value; filterProperties()">
           </label>

           <label>
             <h5>Площадь (м²):</h5>
             <input type="number" id="area" placeholder="Минимум" oninput="filterProperties()">
           </label>

           <label>
             <h5>Город:</h5>
             <input type="text" id="city" placeholder="Введите город" oninput="filterProperties()">
           </label>

           <label>
             <h5>Гостей:</h5>
             <input type="number" id="guests" placeholder="Сколько гостей" oninput="filterProperties()">
           </label>

           <div class="filters-ads__tech tech">
               <h5>Техника</h5>
               <div class="tech__checkbox">
                 <label><input type="checkbox" class="equipment" value="фен" onchange="filterProperties()"> Фен</label>
                 <label><input type="checkbox" class="equipment" value="утюг" onchange="filterProperties()"> Утюг</label>
                 <label><input type="checkbox" class="equipment" value="плита" onchange="filterProperties()"> Плита</label>
                 <label><input type="checkbox" class="equipment" value="микроволновка" onchange="filterProperties()"> Микроволновка</label>
                 <label><input type="checkbox" class="equipment" value="сплит" onchange="filterProperties()"> Сплит</label>
                 <label><input type="checkbox" class="equipment" value="стиралка" onchange="filterProperties()"> Стиралка</label>
               </div>
           </div>
         </div>

         <div id="results"></div>
       </div>



      </div>
    </section>



  </main>
</div>

<script>
    const properties = [
        {
            type: "посуточно",
            price: 3200,
            area: 30,
            city: "Сочи",
            guests: 2,
            equipment: ["фен", "сплит", "плита"],
            description: "Квартира у моря",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 45000,
            area: 55,
            city: "Москва",
            guests: 3,
            equipment: ["плита", "микроволновка", "стиралка"],
            description: "Квартира рядом с метро",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "купить",
            price: 7200000,
            area: 75,
            city: "Казань",
            guests: 4,
            equipment: ["утюг", "плита", "стиралка", "фен"],
            description: "Просторная квартира для семьи",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 38000,
            area: 40,
            city: "Новосибирск",
            guests: 2,
            equipment: ["сплит", "микроволновка", "утюг"],
            description: "Уютная квартира с ремонтом",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "посуточно",
            price: 2500,
            area: 28,
            city: "Санкт-Петербург",
            guests: 2,
            equipment: ["фен", "утюг", "плита"],
            description: "Квартира в историческом центре",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "купить",
            price: 9100000,
            area: 85,
            city: "Екатеринбург",
            guests: 5,
            equipment: ["микроволновка", "сплит", "стиралка"],
            description: "Элитное жильё с авторским ремонтом",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 30000,
            area: 38,
            city: "Ростов-на-Дону",
            guests: 1,
            equipment: ["фен", "плита", "стиралка"],
            description: "Квартира для одного человека",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "посуточно",
            price: 1800,
            area: 25,
            city: "Краснодар",
            guests: 2,
            equipment: ["фен", "утюг"],
            description: "Небольшая квартира для пары",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "купить",
            price: 6300000,
            area: 68,
            city: "Владивосток",
            guests: 3,
            equipment: ["сплит", "плита", "фен"],
            description: "Жильё с видом на залив",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        },
        {
            type: "длительно",
            price: 40000,
            area: 50,
            city: "Нижний Новгород",
            guests: 2,
            equipment: ["утюг", "сплит", "стиралка"],
            description: "Современная квартира недалеко от центра",
            image: "https://avatars.mds.yandex.net/i?id=c2139faeb4b55c5e7dac183bb55d85a6_l-4219741-images-thumbs&n=13"
        }

    ];

    function filterProperties() {
        const type = document.getElementById('type').value;
        const maxPrice = parseInt(document.getElementById('price').value);
        const area = parseInt(document.getElementById('area').value) || 0;
        const city = document.getElementById('city').value.toLowerCase();
        const guests = parseInt(document.getElementById('guests').value) || 0;
        const search = document.getElementById('search').value.toLowerCase();
        const selectedEquipment = Array.from(document.querySelectorAll('.equipment:checked')).map(el => el.value);

        const filtered = properties.filter(p => {
                return (!type || p.type === type)
                    && p.price <= maxPrice
                    && p.area >= area
                    && (!city || p.city.toLowerCase().includes(city))
                    && (!search || p.city.toLowerCase().includes(search) || p.description.toLowerCase().includes(search))
                    && p.guests >= guests
                    && selectedEquipment.every(eq => p.equipment.includes(eq));
        });

        displayResults(filtered);
    }

    function displayResults(results) {
        const container = document.getElementById('results');
        container.innerHTML = results.map(p => `
        <article class="property">
          <img src="${p.image}" width="250" alt="Фото квартиры в городе ${p.city}">
          <div class="property-info">
            <h3 style="margin: 0; line-height: 110%">${p.description}</h3>
            <div class="decription">
              <p>Город: ${p.city}</p>
              <p>Цена: ${p.price.toLocaleString()} ₽</p>
              <p>Площадь: ${p.area} м²</p>
            </div>
          </div>
        </article>
      `).join('');
    }

    document.getElementById('price-value').textContent = document.getElementById('price').value;
    filterProperties();
</script>

</body>
</html>