@use '../helpers/index' as *;

.filters-ads {
  margin-top: rem(30);

  &__filters-block {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    order: 2;
    min-width: rem(350);

    padding-left: rem(30);

    input[type="text"],
    input[type="number"],
    input[type="range"],
    select {
      border:0;
      width: 100%;
      border-radius: rem(10);
      padding: rem(10) rem(20);
      background-color: var(--color-gray-10);
    }

    input[type="range"],
    {
      padding: 0;
    }

    label {
      //display: flex;
      //flex-direction: column;
      //row-gap: rem(10);
    }
  }

  &__search-bar {
    background-color: var(--color-gray-60);
    padding: rem(2);
    border-radius: 50vw;

    display: flex;

    input {
      width: 100%;

      border: none;
      border-radius: 50vw 0 0 50vw;
      padding: rem(10) rem(20);
    }
    button {
      width: 150px;
      height: 47px;
      border-radius: 0 50vw 50vw 0;

      background-color: var(--color-accent);
      color: var(--color-dark);
      &:hover {
        opacity: 0.7;
      }
    }

  }

  &__wrapper {
    padding-inline: rem(20);
    margin-top: rem(30);
    display: flex;
    justify-content: space-between;
  }

  h5 {
    margin: 0;
  }
}

.tech {
  &__checkbox {
    display: flex;
    flex-direction: column;
  }
}
