@use '../helpers/index' as *;


.account {
  position: relative;

  &__avatar {
    width: rem(50);
    height:  rem(50);
    border: none;

    background-color: var(--color-gray-60);
    border-radius: 50%;
  }

  &__menu {
    &:has(.is-active) {
      display: none;
    }

    position: absolute;
  }

}
